@import "tailwindcss";
body {
  margin: 0;
   font-family: 'Orbitron', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

/* Remove default h1 & button styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
   font-family: 'Orbitron', sans-serif;
}
p,a{
  font-family: 'Orbitron', sans-serif;
}

button,span {
   font-family: 'Orbitron', sans-serif;
}
 